{{ define "main" }}
{{- $date := printf "<time datetime=\"%s\">%s</time>" (.Date.Format "2006-01-02") (.Date | time.Format ":date_long") -}}
{{ partial "page-hero.html" (dict "title" .Title "meta" $date) }}

<article class="wrap">
  <div class="post-content">
    {{ .Content }}
  </div>

  {{- $a := false -}}
  {{- with .Params.author -}}
    {{- $a = index site.Params.authors . -}}
  {{- end -}}
  {{- if not $a -}}{{- $a = site.Params.author -}}{{- end -}}
  {{- if or $a .Params.tags -}}
  <footer class="post-footer">
    {{- with $a -}}
    <img class="avatar" src="{{ .avatar | relURL }}" alt="">
    <span class="name">{{ .name }}</span>
    {{- end -}}
    {{- with .Params.tags -}}
    <span class="tag-label" aria-label="Tags">#</span>
    <ul class="tags">
      {{ range . }}<li><a class="tag" href="{{ printf "tags/%s/" (. | urlize) | relURL }}">{{ . }}</a></li>{{ end }}
    </ul>
    {{- end -}}
  </footer>
  {{- end -}}
</article>
{{ end }}